body {
  background-color: white;
}


.recipe {
  width: 80%;
  background-color: pink;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}


img {
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.preparation {
  color: purple;
  margin-left: 15px;
}


.ingredients, .instructions {
  color: brown;
  margin-left: 15px;
}


.nutrition .row {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 1px solid grey;
}


.value {
  text-align: right;
  font-weight: bold;
  color: brown;
}
